html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Segoe UI', serif;
	font-size: 15pt;
	margin-top: 80px;
}

/*BARA DE MENIU*/

.custom-navbar {
	background-color: white;
	height: 80px;
}
.custom-navbar .navbar-brand {
    color: #1E90FF;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20pt;
    text-transform: uppercase;
}
.custom-navbar .navbar-brand img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.custom-navbar .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=1E90FF');
}   

.custom-navbar .navbar-nav .nav-link {
    color: #1E90FF;
    /*font-weight: bold;*/
    font-family: 'Segoe UI', serif;
    font-size: 20pt;
    text-transform: uppercase;
}

.custom-navbar .dropdown-menu {
  border-style: none;
  background-color: white;
}

.custom-navbar .dropdown-menu .dropdown-item {
  color:  #1E90FF;
  background-color: white;
  /*font-weight: bold;*/
  font-family: 'Segoe UI', serif;
  font-size: 20pt;
}

.custom-navbar .nav-item.active .nav-link,
.custom-navbar .nav-item:hover .nav-link,
.custom-navbar .dropdown-menu .dropdown-item:hover {
    color:  #708090;
}


.jumbotron {
  background-color: white;
  text-align: center;
  font-family: 'Times New Roman', serif;
}

.jumbotron .btn {
	background-color: #708090;
	border-color: transparent;
}

.lead a{
  color: black;
}

.card-deck{
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
}
.card{
  border-color: white;
}

#map{
  width: 100%;
  height: 400px;
  border-radius: 30px 30px;
}

/*LOGIN*/
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


#tratamente {
	color: #1E90FF;
  margin-top: 100px;
}

#tratamente th{
	background-color: #1E90FF;
	color: white;
}

#tratamente td{
  text-align: center;
}



/*FOOTER*/
/*footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 100px;
  background-color: red;
  color: red;
  text-align: center;
  font-family: 'Times New Roman', serif;
}*/



